/*.card {
  background-color: #04AA6D;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  width: 4em;
  height: 4em;
  margin: 0.2em;
  text-align: center;
}*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  width: 5.68em;
  height: 8em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}
