:root {
    --scale: 1.0;
}
p {
    margin: 0;
    padding: 0;
}
div{
    /*font-size: 0;*/
    vertical-align: top;
}

#cards_container{
    background-color: Blue;
}
#ally_base_container{
    background-color: greenyellow;
}
#enemy_base_container{
    background-color: Tomato;
}
#situations_container{
    background-color: red;
}

#plans_container{
    background-color: green;

}
#tent_container{
    background-color: teal;

}

.slot {
  display: inline-block;
  position: relative;
  box-shadow: 0 0.4vw 0.4vw 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: calc(var(--scale)* 10vw);
  height: calc(var(--scale)* 10vw);
  background-color: #f1f1f1;
  padding: calc(var(--scale)* 0.22vw);
  margin:calc(var(--scale)*  0.5vw);
   -webkit-border-radius: calc(var(--scale)*0.5vw);
    -moz-border-radius: calc(var(--scale)*0.5vw);
    border-radius: calc(var(--scale)*0.5vw);
}
#myCanvas {

  position: absolute;

  z-index: 20;
  pointer-events: none;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
    margin: 0px;
}

.slot:hover {
  box-shadow: 0 1vw 1vw 0 rgba(0,0,0,0.6);
}

.row-container {
  background-color: DodgerBlue;
    font-size: 0;
}
.card-container {
  display: inline-block;
  background-color: DodgerBlue;
  margin: 0.0vw;
}
.menu-container {
  background-color: DodgerBlue;
}

.card {
  position:relative;
  width: 100%;
  height: 100%;
  background: white;
} 
.menu {
    display: inline-block;
    margin: 4px;
    padding: 4px;
  position:relative;
  background: white;
} 

.progress {
  position: absolute;

}
.effectBar {
  position: absolute;

}
.effectAmount {
  position: absolute;
  font-size:calc(var(--scale)*1vw);
  font-weight: bold;
  margin: 0 auto;
  left: 50%;
  top: 20%;
  color: white;
font-family: "Micro 5", serif;
font-weight: 400;
font-style: normal;
    text-shadow: 0.05vw 0 0 #000, 0 -0.05vw 0 #000, 0 0.05vw 0 #000, -0.05vw 0 0 #000;

}
.sectionLabel {
    background-color: Black;
    color: White;
    text-align: center;
    margin: 0;
}
.health {
    display: inline-block;
  color: black;
  height: 0.2vw;
  position: absolute;
}
.cooldown {
    position: absolute;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.shield {
  color: black;
  height: 0.1vw;
  position: absolute;
}
.picture {
    position: absolute;
    width:100%;
    height:100%;
}
.text {
  background: white;
    width:100%;
    height:100%;
}

.count {
    text-shadow: 0.04vw 0 0 #000, 0 -0.04vw 0 #000, 0 0.04vw 0 #000, -0.04vw 0 0 #000;
    font-size:calc(var(--scale)*1.5vw);
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-block-start: 0vw;
    margin-block-end: 0vw;
}
.image {
    display: inline-block;
    height:100%;
    width: 100%;
}
.effectDiv {
    display: inline-block;
    position: relative;
    width: calc(var(--scale)*1.75vw);
    height: calc(var(--scale)*1.75vw);
}
.smallDiv {
    position: absolute;
    width: 30%;
    height: 30%;
}
.smallDiv::after {
    content:" ";
    position: absolute;
    top:0;
    right:0;
    border-style: solid;
    border-width: 0 1.2vw 1.2vw 0;
    border-color: transparent green transparent transparent;
}

.bigDiv {
    position: absolute;
    width: calc(var(--scale)*4vw);
    height: calc(var(--scale)*4vw);
}
.topRight{
    top: -12%;
    right: -15%;
}
.topLeft{
    top: -12%;
    left: -15%;
}
.bottom{
    bottom: -5%;
    right: 33.3%;
}
.bottomRight{
    bottom: -5%;
    right: -10%;
}
.leftProgress{
    bottom: 35%;
    left: -15%;
}
.topLeftProgress{
    top: 0%;
    left: -15%;
}
.bottomLeftProgress{
    bottom: 0%;
    left: -15%;
}
.left{
    right: -15%;
    top: 17%;
}
.right{
    left: -15%;
    top: 17%;
}
.title {
  position: absolute;
} 
