/*.card {
  background-color: #04AA6D;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  width: 4em;
  height: 4em;
  margin: 0.2em;
  text-align: center;
}*/
.slot {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 6em;
  height: 8em;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.slot:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}
.skill {
    margin: 0px;
    padding: 0px;
    position: relative;
    border: 1px solid #36393E;
    border-radius: 5%;
    width: 44px;
    height: 44px;
    overflow: hidden;
    background-color: transparent;
    background-image: url("skill.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.cooldown {
    position: absolute;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.card {
  position:relative;
  width: 100%;

} 

.progress {
  position: absolute;
}
.picture {
    width:100%;
}
